.grid-container{
    position:absolute;
    display: grid;
    border-inline:4px solid green ;
    background-color: aqua;
    
    grid-gap: 12px;
    
grid-template-columns:200px 200px 200px ;
grid-template-rows:200px 200px 200px;
 grid-template-areas: "grid0 grid1 grid2"
                     "grid3 grid4 grid5"
                     "grid6 grid7 grid8"; 
}

.grid0 {
    
    grid-area: grid0;  
}
.grid1 {
    
    grid-area: grid1;
    
}
.grid3 {
    
    grid-area: grid3;
    
}
.grid9 {
    
    grid-area: grid9;
    
}




.BG-black {
    
    background-color: black;
    width: 50px;
    height: 10px;
    color: blanchedalmond;
    float: left;
}
.BG-grey {
    background-color: grey;
}

.border-red {
    
    border: solid 2px red;
   
}

