html, body {
    padding: 0;
    margin: 0;

    display: block;
    display: flex;
    width:100vw;
    height:100vh;
   
  
 
 }
  .dropdown {
    position: fixed;
    display: inline-block;
    width:700px;
    left:10vw;
    top: 30px;
  }
  
  .dropdown-content {
    display:block;
    width: 700px;
    position:fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    bottom:10vh;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } 
#result {
    position:fixed;
    display:flex;
    flex-wrap:wrap;
    background-color: purple;
    width:2vw;
    height:36vh;
    right:61.5vw;
    top:25vh;
    
   
}

.The-Cost{
  position:fixed;
  display: flex;
  flex-wrap: wrap;
  right:93vw;
  top:2Vh;
}
.position {
  display: flex;
  flex-wrap: wrap;
  position:fixed;
  bottom:94vh;
  left:30Vw;
}
.Seal {
  display: flex;
  flex-wrap: wrap;
  position:fixed;
  bottom:83vh;
  left:20Vw;
}
.NinjaName {
  display: flex;
  flex-wrap: wrap;
  position:fixed;
  bottom:94vh;
  left:15Vw;
}
.lvl{
  display: flex;
  flex-wrap: wrap;
  position:fixed;
  bottom:88vh;
  left:15Vw;

}
#selectResult {
display:flex;
flex-wrap: wrap;
flex-direction:column;
width:30vw; 
height:30vh;
font-size:4vh;
/* background-color: yellow; */
 
}


#bearDiv  {
  background-color: bisque;
  position:fixed;
   display:flex;
   flex-wrap:wrap;
   flex-direction:column;

}

input{
    position:fixed;
    display: flex;
    flex-wrap:wrap;
    width:40px;
    left:10vw;
    bottom:90vh;

}
#LVL{
    display:flex;
    flex-wrap: wrap;
    border-radius:12px;
    background-color: blueviolet;
    left:10vw;
}
.Chakra{
  
    
    flex-wrap: wrap;
    display: flex;
}
.NY{
  
    flex-wrap: wrap;
    display: flex;

}
.quarter1{
 
  display:flex;
  flex-wrap:wrap;
  top:20vh;
  right:40vw;
}

.button {
    position:relative;
    background-color: rgb(255, 255, 255);
    color: #000000;
    left:6.4vw;
    bottom:80vh;
    font-size:16px;
 
  }
 
    

  