html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: block;
    display: flex;
   box-sizing: border-box;
   border:5px solid violet;   
  

 }
 #hovedside { top:6vh;   /* dropdownbar*/
  position: relative;
  left: 45vw;
height:1vh;
}

.Cost {
  background-color: burlywood;
  display:flex;
  flex-wrap: wrap;
  position: relative;
  right:3.7vw;
  font-size:2vh;
  border-bottom: 4px  solid black ;
  
  
}
.chakra
{ display:flex;
  flex-wrap: wrap;
  position: relative;
  top:0vh; 
  right:3.70vw;
  font-size:2vh;
  border: 2px dotted blue;
  justify-content: center;
}
.quarter1{
  position: relative;
   display:flex;
   flex-wrap:wrap;
   right:3.7vw;
   border:1px solid black;
   font-size:2vh;
 }
 .NY{
  position: relative;  /*for quarter 1 Forbidden */
  display:flex;
  flex-wrap:wrap;
    top:0.1vh;
    right:3.7vw;
    justify-content: center;
    font-size:2vh;
    border:2px dotted hotpink;
}

.quarter2{
  position: relative;
  display:flex;
  flex-wrap:wrap;
  top:vh;
  right:3.72vw;
  font-size:2vh;
  border:1px solid black;
}
 .YN{ /*for quarter 2 Fixed chakra  */
  position: relative;
  display:flex;
  flex-wrap:wrap;
  top:1-.90vh;
  right:3.7vw;
  justify-content: center;
  font-size:2vh;
  border:2px dotted hotpink;

 }


 



  .dropdown {
    position: fixed;
    display: inline-block;
    width:700px;
    left:10vw;
    top: 30px;
  }
  
  .dropdown-content {
    display:block;
    width: 700px;
    position:fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    bottom:10vh;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } 
#result {
    position:fixed;
    display:flex;
    flex-wrap:wrap;
    background-color: purple;
    width:2vw;
    height:36vh;
    right:61.5vw;
    top:25vh;
    
   
}

.The-Cost{
  position:fixed;
  display: flex;
  flex-wrap: wrap;
  right:93vw;
  top:2Vh;
}
.position {
  display: flex;
  flex-wrap: wrap;
  position:fixed;
  bottom:94vh;
  left:30Vw;
}
.Seal {
  display: flex;
  flex-wrap: wrap;
  position:fixed;
  bottom:83vh;
  left:20Vw;
}
.NinjaName {
  display: flex;
  flex-wrap: wrap;
  position:fixed;
  bottom:94vh;
  left:15Vw;
}
.lvl{
  display: flex;
  flex-wrap: wrap;
  position:fixed;
  bottom:88vh;
  left:15Vw;

}
#selectResult {
display:flex;
flex-wrap: wrap;
flex-direction:column;
width:30vw; 
height:30vh;
/* background-color: yellow; */
 
}


#bearDiv  {
  background-color: bisque;
  position:fixed;
   display:flex;
   flex-wrap:wrap;
   flex-direction:column;

}

input{
    position:fixed;
    display: flex;
    flex-wrap:wrap;
    width:40px;
    left:10vw;
    bottom:90vh;

}
#LVL{
    display:flex;
    flex-wrap: wrap;
    border-radius:12px;
    background-color: blueviolet;
    left:10vw;
}

.Chakra{
  
    
    flex-wrap: wrap;
    display: flex;
}


.button {
    position:relative;
    background-color: rgb(255, 255, 255);
    color: #000000;
    left:6.4vw;
    bottom:80vh;
    font-size:16px;
 
  }
  .bloodline{
    position:relative;
    font-size:2vh;
   border-top: 2px solid black;
    background-color: crimson;
    top:15.5vh;
     right:77.9vw;
    
    

  }
  .bloodlinelvl{
    position:relative;
    font-size:2vh;
    border-bottom: 2px solid black;
     background-color: crimson;
     top:15.5vh;
     right:77.9vw;
     
  }
  .Blood-line{
    position:relative;
    font-size:2vh;
    border: 1px solid black;
     background-color: crimson;
     right:70.5vw;
     top:10.6vh;
     
  }
  .Blood-Line-LvL{
    position:relative;
    font-size:2vh;
    border:1px solid black;
     background-color: crimson;
     right:70.5vw;
     top:10.6vh;
     
  }
#Effi {
  height:vh;
  font-size:2vh; 
  position: relative;
  display: grid;
  bottom:10vh;
  right:1vw;
  grid-template-rows:auto;
  grid-template-columns:auto;
  grid-column:auto;
  
}
.avrdmg{display: grid;
  background-color: green;
  border: 2px solid green;
position: relative;
height:4vh;
top: 80.7vh;
right:27.7vw;
width:50vw;
}
.D-R{
  display: grid;
position: relative;
border:2px solid grey;
background-color: grey;
top:80.7vh;
right:27.7vw;
height:4vh;
width:50vw;
}
.avrdmgcritt{
background-color: thistle;
display: grid;
position: relative;
top:80.73vh;
right:27.7vw;
height:4.4vh;
}
.Dmgran{display: grid;
  background-color: fuchsia;
position: relative;
width:48.82VW;
top:67.46vh;
height:4.4vh;
left:22.5vw;
}
.low-dmg{
  display: grid;
position: relative;
background-color: red;
top:67.5vh;
left:22.46vw;
width:25vw;
height:4.4vh;
}
.high-dmg{display: grid;
position: relative;
background-color: royalblue;
top:63.1vh;
left:47.456vw;
width:23.78vw;
height:4.4vh;
}
.avrcrit-dmg{
  background-color: skyblue;
  display: grid;
position: relative;
top:89.56vh;
right:27.7vw;
width:48.8vw;
height:4.4vh;

}
.dmg-rng-critt{
  background-color: salmon;
  display: grid;
position: relative;
top:89.6vh;
right:78vw;
width:99vw;
height:4.4vh;
}
.low-critt{
  background-color: silver; 
  display: grid;
position: relative;
top:85.2vh;
right:2.68vw;
width:23.9vw;
height:4.4vh;
}
.high-critt{
  background-color: gold;
  display: grid;
position: relative;
top:80.8vh;
right:27.7vw;
bottom: ;
width:25vw;
height:4.4vh;
}

  