
   



.tai {
    border-bottom: 1px solid black; 
    text-align: center;
    font-size:2vh;
}
.Nin{
    border-bottom: 
    1px solid black;
    font-size:2vh;
    text-align: center;
}
.Buki{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Sta{ text-align: center;
    border-bottom: 1px solid black;   
    font-size:2vh;
}
.Ele{ text-align: center;
    border-bottom: 1px solid black; 
    font-size:2vh;
}
.Gen{
    border-bottom: 1px solid black;  
    font-size:2vh;
    text-align: center;
}
.Atk {
    
    border-bottom: 1px solid black;
    font-size:2vh;
    text-align: center;
}
.Strike{
    text-align: center;
    font-size:2vh;
    border-bottom: 1px solid black;
}
.hit{
    text-align: center;
    font-size:2vh;
    border-bottom: 1px solid black;
}
.roll{
    text-align: center;
    font-size:2vh;
    border-bottom: 1px solid black;
}
.Focus{
    font-size:2vh;
    text-align: center;
    
}

.Burst{
    font-size:2vh;
    text-align: center;
    border: 1px solid black;
}
.Range{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Boost{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}

.Rec{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Act{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
    
}
.Mastery{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Rech{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Endu{
    font-size:2vh;
    border-bottom: 2px solid black;
}
.The-Stats{
    border:1px solid black;
    display: grid;
    position: relative;
    justify-content: center;
    background-color: blue;
    top:35.5vh;
    left:24.23vw;
    font-size:2vh;
    width:11.1vw;
    height: 2.3vh;
}
 #txt {
    background-color:turquoise;
    right:-13.1vw;
    top:37.8vh;
    height:89vh;
    justify-content: center;
    position:relative;
    display:grid;
    
    
} 




  .Statpoints-Point{
    background-color: teal;
    position:relative;
       border:solid 1px black; 
      top:14.9vh;
      left:70.24vw;
       justify-content: center;
      height: 2.22vh;
      font-size:2vh;
     }
  .statnames{
    justify-content: center;
    position:relative;
    display:grid;
    grid-template-columns:2vw;
    grid-column:auto;
      border-bottom:1px solid black;
    background-color: rgb(77, 15, 15);
    right:-13.07vW;
    top:27.8vh;
    font-size:2vh; 
    width:3vw;
    justify-items: center;
    
    
     }
#Secondary {
    position: relative;
    background-color: rgb(77, 15, 15);
    grid-template-columns:2vw;
   grid-column:auto;
    top:52.1vh;
   right:-5.7vw;
   width:3vw;
   font-size:2vh; 
   justify-items: center;
}

.ID{
    position: relative;
    display: grid;
    top:20vh;
right:10vw;
}
.fixed{
    position: relative;
    display: grid;
    top:20vh;
    right:10vw;
}






#g3 { display:flex;
    flex-wrap:wrap;
    position: relative;
    background-color: teal;
top:60vh;
left:6vw;

}
.position{
    display:flex;
  flex-wrap: wrap;
  position: relative;
  left:15.33vw;
  bottom:17.6vh;
  background-color: brown;
  width:5.7vw;
  height:8vh;
  
}
.S01{  
    border-bottom: 1px solid black; 
    position:relative;
    display:flex;
     flex-wrap:wrap;
     top:14.9vh;
     left:70.28vw;
      justify-content: center;
     font-size:2vh;
     background-color: teal;
     width:8vw;
  
    }
.s02{border-bottom: 1px solid black; 
    position:relative;
    display:flex;
    flex-wrap:wrap;
    font-size:2vh;
    background-color: teal;
     justify-content: center;
     top:14.9vh;
     left:70.28vw;
    
     }
.s03{
    border-bottom: 1px solid black;
     position:relative;
    display:flex;
    font-size:2vh;
     flex-wrap:wrap;
     background-color: teal;
      justify-content: center;
      top:42.5vh;
    left:62.26vw;
    
      width:8vw;
    }
.s04{    border-bottom: 1px solid black;
    position:relative;
    font-size:2vh;
   display:flex;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    
   }
.s05{    border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    
   }
.s06{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    
}
.s07{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    ;}
.s08{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    }
.s09{border-bottom: 1px solid black;
    position:relative;
   display:flex;
    flex-wrap:wrap;
    font-size:2vh;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    }
.s10{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    }
.s11{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    }
.s12{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    }
.s13{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    ;}
.s14{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:62.26vw;
    ;}
     
.s15{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;
    background-color: teal;
   justify-content: center;
   top:71.1vh;
   left:54.26vw;
  }
    
.s16{ border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
     top:71.1vh;
     left:54.28vw;
    
    width:8vw;
}
.s17{border-bottom: 1px solid black;
    position:relative;
   display:flex;
    flex-wrap:wrap;
    font-size: 2vh;
    background-color: teal;
     justify-content: center;
     top:71.1vh;
     left:54.26vw;
    
    width:8vw;
    }
.s18{border-bottom: 1px solid black;
    position:relative;
   display:flex;
   font-size:2vh;
    flex-wrap:wrap;
     background-color: teal; 
     justify-content: center;
     top:71.1vh;
     left:54.26vw;
    
    width:8vw;
    }
.s19{border-bottom: 1px solid black;
    position:relative;
   display:flex;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
    top:42.5vh;
     left:53.3vw;}
.s20{border-bottom: 1px solid black;
    position:relative;
   display:flex;
    flex-wrap:wrap;
    background-color: teal;
     justify-content: center;
     top:42.6vh;
     left:53.3vw;} 

.Efficantcy{
    border: 2px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
    top:45.4vh;
    right:11.05vw;
    text-align: center;
    background-color: yellowgreen;
    height:2vh;
    
}
.tai-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
    top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.nin-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
    top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.buki-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.Stam-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.ele-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.gen-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.atk-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.strike-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.hit-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.reroll-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.boost-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.buki-rec-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.gen-act-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.gen-mastery-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.gen-rec-effi{
    border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
.focus-effi{
      border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}

.focus-burst{
      border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}

.focus-range{
      border-left:2px solid black;
    border-bottom: 1px solid black;
    font-size:2vh; 
    position: relative;
    display: grid;
     top:45.28vh;
    right:11.07vw;
    text-align: center;
    background-color: yellowgreen;
}
